// $bg: rgba(255,165,0,0.25);
$bg: #f4f9f9;
$header: rgba(0,0,0,1.0);
$header-hover: rgba(255,165,0,1);
$left-color: #ccf2f4;
$right-color: #a4ebf3;
$container-color: #aaaaaa;

$highlight: #5bc0eb;
$darkhighlight: #fde74c;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto+Condensed&family=Roboto+Slab&display=swap');

// color pallette: https://colorhunt.co/palette/264572
$padding: 10px;
$border: 3px;

body {
  background: $right-color;
}

h1 {
  color: $header;
  font-size: 3.5em;
  padding: $padding;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
}

//Attempt at cool heading

// .cyberText {
//   $random-text: 'Sam Herwigs Web Dev Homepage';
//   position: relative;
//   text-transform: uppercase;
//   font-size: 2em;
//   // font-family: 'Catamaran', sans-serif;
//   color: rgba(red, 0.8);
//
//   &:before {
//     position: absolute;
//     content: $random-text;
//     color: rgba(white, 0.8);
//     top: 5px;
//     left: 10px;
//   }
//
//   &:after {
//     z-index: -1;
//     position: absolute;
//     content: $random-text;
//     color: rgba(blue, 0.8);
//     top: -5px;
//     left: 8px;
//   }
// }

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

#titleBoi {
  // width: 100vw;
  background-color: $left-color;
  font-family: 'Roboto Condensed', sans-serif;
}

header {
  // background-color: $right-color;
  width: 100vw;
}

.secondary {
  text-align: center;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
}

li,
p {
  font-family: 'Noto Sans KR', sans-serif;
}

.col1,
.col2,
.col3,
.col4,
.col5,
.col6 {
  // background-color: $right-color;

  a:hover {
    background-color: yellow;
  }
}

//Card from here : https://codepen.io/markmead/pen/MqmOVB
.card-container {
  flex: 300px;
  margin: 30px;

  .card {
    font-weight: bold;
    position: relative;
    width: 100%;

    a {
      padding: 30px;
      width: 100%;
      height: 400px;
      border: 2px solid black;
      background: white;
      text-decoration: none;
      text-align: center;
      color: black;
      display: block;
      transition: 0.25s ease;

      &:hover {
        transform: translate(-30px, -30px);
        border-color: $highlight;

        .card-display {
          display: none;
        }

        .card-hover {
          display: block;
        }
      }

      .card-display {
        // i {
        //   font-size: 60px;
        //   margin-top: 200px;
        // }

        h2 {
          margin: 20px 0 0;
          font-size: 2.5em;
        }

        p {
          font-weight: normal;
          line-height: 1.5;
          font-size: 1.5em;
        }
      }

      .card-hover {
        display: none;

        h2 {
          margin: 20px 0;
          font-size: 2.5em;
        }

        p {
          font-weight: normal;
          line-height: 1.5;
          font-size: 1.5em;

          &.link {
            margin: 20px 0 0;
            font-weight: bold;
            color: $darkhighlight;
          }
        }
      }
    }

    .card-border {
      position: absolute;
      width: 110%;
      height: 98%;
      left: 0;
      top: 0;
      border: 2px dashed black;
      z-index: -1;
    }

    &.card-dark {
      a {
        color: white;
        background-color: black;
        border-color: black;

        .card--hover {
          .link {
            color: $darkhighlight;
          }
        }
      }
    }
  }
}

#title1 {
  text-align: center;
  font-size: 2em;
}

#paragraph1 {
  // top: -2%;
  text-align: center;
  font-size: 1em;
}

.image1,
.image2,
.image3,
.image4 {
  background-color: $right-color;
}

.Github {
  height: 100%;
  background-image: url("../dist/img/Github.png");
  background-position: right;
  margin-top: -25%;
  margin-right: 2%;

  background-repeat: no-repeat;
  background-size: 10%, auto;
  // position: fixed;
  display: block;
  background-color: $right-color;
}

.list1,
.list2,
.list3,
.list4,
.list5,
.list6 {
  text-align: center;
}

ul {
  display: inline-block;
  text-align: left;
}

// ul {
//   text-align: center;
//   list-style: inside;
//   // display: inline-block;
// }
//
// li {
//   display: inline-block;
// }

.image1 {
  height: 100%;
  background-image: url("../dist/img/commitment.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
  // padding: 5%;
  // background-color: $left-color;
  // margin-top: 8%;
  // grid-area: main;
}

.image2 {
  height: 100%;
  background-image: url("../dist/img/bash-me.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80% auto;
  position: relative;
  // background-color: $left-color;
  // margin-top: 8%;
  // grid-area: main;
}

.image3 {
  height: 100%;
  background-image: url("../dist/img/Exquisite.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80% auto;
  position: relative;
  // background-color: $left-color;
  // margin-top: 8%;
  // grid-area: main;
}

.image4 {
  height: 100%;
  background-image: url("../dist/img/Pow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80% auto;
  position: relative;
  // background-color: $left-color;
  // margin-top: 8%;
  // grid-area: main;
}
