// $bg: rgba(255,165,0,0.25);
$bg: #dbf6e9;
$header: rgba(0,0,0,1.0);
$header-hover: rgba(255,165,0,1);
$left-color: #ffc93c;
$right-color: #9ddfd3;
$container-color: #31326f;
// color pallette: https://colorhunt.co/palette/264572
$padding: 10px;
$border: 3px;

body {
  background: $bg;
}

h1 {
  color: $header;
  font-size: 3em;
  padding: $padding;
  text-align: center;

  &:hover {
    color: $header-hover;
    border: $border solid $header-hover;
  }
  //end &:hover
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

.image1 {
  height: 20%;
  background-image: url("../dist/img/commitment.png");
  // background-position: center;
  background-repeat: no-repeat;
  background-size: 80% auto;
  position: relative;
  margin-top: 8%;
  grid-area: main;
}
//end h1

// .row1 {
//   display: flex;
//   // justify-content: space-between;
//   margin: 0 auto;
//   padding: 1em;
//   width: 80%;
//
//   .left {
//     // background-color: $left-color;
//     // height: 100%;
//     // width: 48%;
//
//     .image1 {
//       height: 20%;
//       background-image: url("../dist/img/commitment.png");
//       // background-position: center;
//       background-repeat: no-repeat;
//       background-size: 80% auto;
//       position: relative;
//       margin-top: 8%;
//     }
//
//     #title1 {
//       font-size: 2em;
//       left: 30%;
//       right: 30%;
//       position: relative;
//
//     }
//
//     #paragraph1 {
//       font-size: 1.2em;
//       left: 10%;
//       right: 30%;
//       position: relative;
//     }
//   }
//
//   .right {
//     background-color: $right-color;
//     height: 100%;
//     position: relative;
//     width: 48%;
//   }
//
// }
