.container {
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  // grid-template-areas: "header header header header" "main . . main" "footer footer footer footer";
  // grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "header header ." "col1 col2 col3" "col4 col5 col6" ". col7 .";
}

$layout-Margin: 10%;
$margin-top: 0;

.col1 {
  grid-area: col1;
  margin: $margin-top $layout-Margin $layout-Margin;
}

.col2 {
  grid-area: col2;
  margin: $margin-top $layout-Margin $layout-Margin;
}

.col3 {
  grid-area: col3;
  margin: $margin-top $layout-Margin $layout-Margin;
}

.col4 {
  grid-area: col4;
  margin: $margin-top $layout-Margin $layout-Margin;
}

.col5 {
  grid-area: col5;
  margin: $margin-top $layout-Margin $layout-Margin;
}

.col6 {
  grid-area: col6;
  margin: $margin-top $layout-Margin $layout-Margin;
}

.col7 {
  grid-area: col7;
  margin: $margin-top 30% 30%;
}

// .secondary {
//   grid-area: secondary;
//   // margin: 10%;
// }

header {
  grid-area: header;
}

main {
  grid-area: main;
}

@media only screen and (max-width: 1130px) {
  .container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "col1" "col2" "col3" "col4" "col5" "col6" " col7 ";
  }

  .col1 {
    grid-area: col1;
    // position: relative;
    margin: $margin-top $layout-Margin $layout-Margin;
    // padding: 2%;
    // bottom: 4%;
  }

  .col2 {
    grid-area: col2;
    margin: $margin-top $layout-Margin $layout-Margin;
  }

  .col3 {
    grid-area: col3;
    margin: $margin-top $layout-Margin $layout-Margin;
  }

  .col4 {
    grid-area: col4;
    margin: $margin-top $layout-Margin $layout-Margin;
  }

  .col5 {
    grid-area: col5;
    margin: $margin-top $layout-Margin $layout-Margin;
  }

  .col6 {
    grid-area: col6;
    margin: $margin-top $layout-Margin $layout-Margin;
  }

  .col7 {
    grid-area: col7;
    margin: $margin-top $layout-Margin $layout-Margin;
  }

  header {
    grid-area: header;
  }

  main {
    grid-area: main;
  }

}
