.container {
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  // grid-template-areas: "header header header header" "main . . main" "footer footer footer footer";

  grid-template-columns: 1fr 1fr;
  grid-template-areas: "header header" "col1 col2";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

.col1 {
  grid-area: col1;
}

.col2 {
  grid-area: col2;
}
